.home {
  .logo-con {
    height: 40px;
    padding: 10px;
    width: auto;
    position: absolute;

    img {
      height: 44px;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }

  .el-header {
    background-color: #fff;
    color: #333;
  }

  .main-content {
    background-color: #f5f7f9;
  }

  .foot-content {
    font-size: 10px;
    color: #ABA498;
    padding-top: 8px;
    background-color: #fff;
    text-align: center;
  }
}
