//全局变量
@import "../../assets/styles/variable";

table {
  overflow: hidden !important;
}

.logo-con {
  height: 40px;
  padding: 10px;
  width: 200px;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;

  img {
    height: 44px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

.logo-con.collapsed {
  width: 44px;
}

.menu-container {
  width: 220px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.menu-container.collapsed {
  width: 64px;
}

.main-scrollbar {
  background-color: @mainBgColor;

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.el-header {
  background-color: @headerBgColor;

  .header-tabs {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);
  }
}

.main-content {
  overflow: hidden;
  background-color: @mainBgColor;
}

.foot-content {
  font-size: 10px;
  color: @footerFontColor;
  padding-top: 8px;
  background-color: @footerBgColor;
  text-align: center;
}

.el-table {
  .el-table__cell.query-table-header {
    background-color: @tableQueryHeaderBgColor;
  }
}

.config-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}