.header-tabs {
  background-color: #F5F7FA;
  position: relative;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  height: 41px;

  .el-tabs {
    padding-right: 30px;
  }

  .el-tabs__item.is-top:nth-child(2) {
    padding-left: 20px;
  }

  .el-tabs__item.is-top.is-active {
    border-bottom: 1px solid #E4E7ED;
    background-color: #fff;
  }

  .close-con {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 30px;
    background: #fff;
    text-align: center;
    z-index: 10;
    border-bottom: 1px solid #E4E7ED;
  }
}
