//全局变量
@import '../variable/variable.less';
@import '../theme/dark.less';
@import '../theme/light.less';

.login {
  height: 100%;
  background-image: url('../../images/background/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .bg {
    margin: 0 auto;
    height: 100%;
  }

  .login-dialog {
    border-radius: 10px
  }
}

.search-form {
  .ivu-form-item {
    margin-bottom: 15px;
  }
}

.search-table {

  .table-cell-center {
    text-align: center;
  }

  .table-cell-left {
    text-align: left;
  }

  .table-cell-right {
    text-align: right;
  }
}
