//全局变量
@import '../variable/variable.less';

.login {
  height: 100%;
  background-image: url('../../images/background/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .bg {
    margin: 0 auto;
    height: 100%;
  }
}
